*.nav
*.out
*.fls
*.xml
*.toc
*.synctex.gz
*.fdb_latexmk
*.blg
*.bcf
*.bbl
*.aux
*.auxlock
*.log
*.snm
*.xdv
*.pygstyle
*.pygtex
*.pdf
*.synctex(busy)
*.synctex.gz
*.dvi
*.ps
_minted*


tikz_external/*
!.keep

.vscode